<div class="container">
  <app-cockpit
    (onServerCreated)="onAddServerClick($event)"
    (onBlueprintCreated)="onAddBlueprintClick($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <app-server *ngFor="let server of servers" [server]="server">
        <div class="card-body">
          <strong class="card-title">{{ server.name }}</strong>
          <p class="card-text" [class]="server.type">
            {{ server.content }}
          </p>
        </div>
      </app-server>
    </div>
  </div>
</div>
